* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background: #F8F8F8;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    /* border: 5px solid red; */
}

img {
    width: 100%;
}

main {
    background: #FFFFFF;
}

.center {
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

.top {
    position: relative;
    overflow: hidden;
}

.header-menu {
    display: flex;
    background: #222222;
    justify-content: space-around;
    padding: 18px 0;
}

.header-left {
    display: flex;
    gap: 41px;
    align-items: flex-end;
}

.header-left svg {
    cursor: pointer;
}

.header-left img {
    width: 44px;
}

.header-left svg:hover path {
    fill: rgb(241, 109, 127, .9);
}

.header-rigth {
    display: flex;
    gap: 33px;
    padding: 12px 0 2px 0;
    align-items: center;
}

/* summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

summary::before {
    content: url(./img/Forma\ 2.svg);

}

details[open]>summary::before {
    content: url(./img/Forma\ 2.svg);
} */


.header_checkbox {
    position: absolute;
    visibility: hidden;
    left: -9999999px;
}

.header_checkbox:checked~.menu-mobaile-open {
    right: 0;
    overflow: hidden;
}

.menu-mobaile-open {
    position: absolute;
    top: 82px;
    right: -336px;
    z-index: 1;
    transition: right 1s;
    width: 232px;
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 32px;

}

.menu-mobaile-heading {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.menu-mobaile-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-mobaile-item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.menu-mobile-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
}

.menu-mobile-list {
    padding-left: 21px;
    display: flex;
    flex-direction: column;
    gap: 11px;
    list-style-type: none;
}

.menu-mobaile-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.menu-mobaile-link:hover {
    color: #F16D7F;
}


.header-rigth svg {
    cursor: pointer;
}

.header-rigth svg:hover path {
    fill: rgb(241, 109, 127, .9);
}

.basket {
    position: relative;
}

.basket h5 {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    background: #F16D7F;
    top: -6px;
    right: -7px;
}

.promo {
    background: #F1E4E6;
    display: flex;
    gap: 64px;
}

.promo img {
    width: 50%;
}

.promo-rigth {
    display: flex;
    width: 50%;
    align-items: center;
}

.promo-rigth-title {
    padding-left: 16px;
    /* margin-left: 64px; */
    margin-bottom: 90px;
    border-left: 12px solid #F16D7F;
    font-weight: 700;
    font-size: 32px;
    line-height: 38.4px;
    color: #222222;
}

.bbb {
    display: flex;
}

.strong {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px
}

.color-coral {
    color: #F16D7F;
}

.content {
    padding-top: 65px;
    background: linear-gradient(63deg, rgb(146 146 146), 16%, rgb(252, 252, 252));
}

.card-top {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: 260px 180px;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 96px;
}

.card-top img {
    width: 100%;
    height: 100%;
}

.card-top-item-big {
    grid-column: 1/4;
}

.card_top_phone {
    display: none;
}

.card-top-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-top-item-text {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    background: rgba(33, 22, 22, 0.7);
}

.card-top-item-text span {
    font-weight: 700;
    font-size: 24x;
    line-height: 28.8px;
    text-align: center;
    color: #F16D7F;
}

.card-bottom-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    margin-bottom: 48px;

}

.card-bottom-title h3 {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    /* identical to box height */
    color: #222222;
}

.card-bottom-title h4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #9F9F9F;
}

.card-bottom {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    justify-content: center;
    gap: 30px;
    margin-bottom: 48px;
}

.card-bottom-item {
    display: flex;
    flex-direction: column;
    background: #F8F8F8;
}


/* .card-bottom-img img {
    width: 100%; 
} */

.blur {
    transition: all .5s;
}

.card-bottom-img-text {
    display: none;
    transition: all .3s;
}

.card-bottom-img {
    margin-bottom: 24px;
    position: relative;
    display: flex;
    transition: all .3s;
}


.card-bottom-img:hover .blur {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(58, 56, 56, 0.86);
    /* transition: all .5s; */
}

.card-bottom-img:hover .card-bottom-img-text {
    position: absolute;
    margin-top: 50%;
    margin-left: 33%;
    width: 138px;
    height: 43px;
    border: 1px solid #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 11px;
    /* transition: all .5s; */

}

.card-bottom-img:hover .card-bottom-img-text h3 {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    /* transition: all .5s; */
}

/* при наведении меняются цвета */
.card-bottom-img:hover .card-bottom-img-text:hover {
    border: 1px solid #F16D7F;
    cursor: pointer;
    /* transition: all .5s; */
}

/* ??? */
.card-bottom-img:hover .card-bottom-img-text:hover svg path {
    fill: rgb(241, 109, 127, .9);
    /* transition: all .5s; */
}

.card-bottom-img:hover .card-bottom-img-text:hover h3 {
    color: #F16D7F;
    /* transition: all .5s; */
}

.card-bottom-item-text {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-bottom: 18px;

}

.card-bottom-item-text h4 {
    padding-bottom: 13px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */
    color: #000000;
}

.card-bottom-item-text h5 {
    max-width: 314px;
    width: 100%;
    padding-bottom: 18px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D
}

.card-bottom-item-text h3 {
    width: 53px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    cursor: pointer;
    transition: all .3s;
}

.card-bottom-item-text h3:hover {
    font-size: 27px;
    line-height: 19px;
}

.card-bottom-button {
    display: flex;
    justify-content: center;
    padding-bottom: 95px;
}

.btn {
    width: 211px;
    height: 47px;
    border: 1px solid #FF6A6A;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    cursor: pointer;
    transition: all .5s;
}

.btn:hover {
    background: #F16D7F;
    color: #FFFFFF;
}

.information-back {
    background: #222224;
}

.information {
    padding: 104px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 30px;
}

.information-card {
    max-width: 360px;
    height: 134px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.information-card svg path {
    fill: #F16D7F;
    ;
}

.information-card h5 {
    margin-top: 19px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
}

.information-card h6 {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

.botom-gradient {
    background: linear-gradient(63deg, rgb(146 146 146), 16%, rgb(252, 252, 252));
}

.bottom {
    position: relative;
    display: flex;
    justify-content: center;
    height: 448px;
    background-image: url("./img/background.png");
    box-shadow: -46px 196px 77px rgb(0 0 0 / 30%);
}

/* .order-background {
    position: absolute;
    background-image: url("./img/background.png");
} */

.order {
    position: absolute;
    width: 100%;
    padding-top: 97px;
    padding-bottom: 126px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 223px;
    background: rgba(244, 244, 244, 0.7);
}

.order-card {
    width: 360px;
    height: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

figure img {
    width: 96px;
}

figure h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}

.order-card h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 167.2%;
    /* or 40px */
    text-align: center;
    color: #222224;
}

.order-card h2 span {
    font-weight: 400;
    font-size: 18px;
    line-height: 40.13px;
    /* or 40px */
    text-align: center;
    color: #222224;
}

form {

    display: flex;
    justify-content: center;
}

.input-enter-email {
    height: 49px;
    width: 256px;
    border: none;
    padding-left: 22px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #222224;
    opacity: 0.67;
    background: #E1E1E1;
    outline-offset: none !important;
    outline: none !important;

}

.input-enter-email:focus-visible {
    outline: none !important;
    outline-offset: none !important;
}

.input-enter-email:focus-visible {
    outline-offset: none;
    outline: none;
    border: 1px solid #F16D7F;
    background: #f0e9e9;
    transition: all .3s;
    /* рабоатет некорректно  */
}

.order-btn {
    width: 100px;
    height: 49px;
    border: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background: #F16D7F;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    transition: all .5s;
    cursor: pointer;
}

.order-btn:hover {
    background: #FFFFFF;
    color: #F16D7F;
    border: 1px solid #F16D7F;

}

.footer {
    height: 79px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #222224;
}

.footer h4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}



.footer-icon {
    display: flex;
    flex-direction: row;
    gap: 7.29px
}

.footer-svg {
    width: 31.45px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    cursor: pointer;
}

.footer-svg:hover {
    background: #F16D7F;
}

.footer-svg:hover path {
    fill: #FFFFFF;
}